* {
    margin:0;
}

#big-container {
    /*font-size: 25px;*/
    font-family: "Segoe UI";
    width: 500px;
    margin: auto;
    margin-top: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#tourner {
    position: absolute;
    top: 100px;
    z-index: 10;
    background:transparent ;
    border: 0px;
    font-size: 50px;
    font-family: monospace;
    font-weight: bold;
    color:#005900 ;
    transform: scaleY(4);
}

#tourner:hover {
    cursor: pointer;
}

#tourner:active {
    color: #00cf00;
    box-shadow: transparent;
    border: 0px;
}

/*-----------face-----------*/
#face {
    background: green;
    border: green solid 5px;
    z-index: 3;
}
#face *{
    margin:auto;
}
#nom, #prenom, #job {
    font-weight: bold;
}

#job {
    /*color: darkgray;*/
    font-weight: bold;
}

#ispm {
    color: white;
    margin-top: 0px;
}

#slogan {
    color: white;
    font-weight: bold;
}

#logo {
    margin-bottom: 0px;
}

/*-----------Back-----------*/

#back {
    background: rgba(255, 255, 255, 0.5);
    border: #005900 solid 5px;
    z-index: 2;
    /*transform: rotateY(90deg);*/
}
#back *{
    margin:auto;
}
.cell-lbl {
    font-weight: bold;
}

/*-----------Back & Face-----------*/
#face, #back {
    position: absolute;
    top:0px ;
    width: 500px;

    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    transform-origin: 0 0 0;

}

/*-----------animation face-----------*/

@keyframes disparitionFace {

    /*from {
        transform: rotate3d(0, 1, 0, 0deg);
        z-index: 3;
    }
    to {
        transform: rotate3d(0, 1, 0, 90deg);
    }*/
    0% {
        filter: blur(0px);
        opacity: 100%;     
    }
    100% {
        filter: blur(10px);
        opacity: 50%; 
    }
}

.disparait-face {
    animation-name: disparitionFace;
    animation-duration: 1s ;
}

@keyframes apparitionFace {
    /*from {transform: rotate3d(0, 1, 0, 90deg);}
    to {
        transform: rotate3d(0, 1, 0, 0deg);
    }*/
    0% {
        filter: blur(10px); 
        opacity: 50%;             
    }
    100% {
        filter: blur(0px);
        opacity: 100%;     
    }
}

.apparait-face {
    animation-name: apparitionFace;
    animation-duration: 1s ;
}

/*-----------animation face-----------*/
@keyframes disparitionBack {

    0% {
        opacity: 100%;     
    }
    100% {
        opacity: 0%; 
    }
    
}
    
.disparait-back {
    animation-name: disparitionFace;
    animation-duration: 1s ;
}