* {
    margin:0;
}

#big-container {
    font-size: 2em;
    font-family: "Segoe UI";
    border: green solid 2px;
    width: 500px;
}

#face {
    background: blue;
}

#back {
    background: red;
}